@using Mercadosfera.Services;
﻿@using Orchard.Search.ViewModels;

@{
    var settings = WorkContext.Resolve<IThemeSettingsService>().GetSettings();

    // Model is Model.Menu from the layout (Layout.Menu)
    Model.Classes.Add(settings.UseFixedNav ? "nav navbar-nav" : "nav nav-pills");
    var tag = Tag(Model, "ul");

    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Model.Items);

    if (items.Any())
    {
        items[0].Classes.Add("first");
        items[items.Count - 1].Classes.Add("last");
    }

    var searchText = new SearchViewModel();
    if (Model.ViewModel != null)
    {
        searchText = (SearchViewModel)Model.ViewModel;
    }
}

@tag.StartElement
@* see MenuItem shape template *@
@DisplayChildren(Model)

@if (WorkContext.CurrentUser != null)
{
    dynamic user = WorkContext.CurrentUser.ContentItem;
    <li class="megamenu col-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;@Html.ItemDisplayText(WorkContext.CurrentUser)&nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li class="megamenu col-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
                @Html.ActionLink("Cambiar Contraseña", "ChangePassword", new { Controller = "Account", Area = "Orchard.Users" })
            </li>
            <li class="megamenu col-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
                @Html.ActionLink("Salir", "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl }, new { rel = "nofollow" })
            </li>
            @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel))
            {
                <li class="megamenu col-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
                    @Html.ActionLink("Area privada", "Index", new { Area = "Dashboard", Controller = "Admin" })
                </li>
            }           
        </ul>
    </li>
}
else
{
    <li class="megamenu col-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
        @Html.ActionLink("Entrar", "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { rel = "nofollow" })
    </li>    
}


<li class="wcmenucart-toggle-dropdown woo-menu-icon"><a href="http://totaltheme.wpengine.com/base/shop/" class="wcmenucart" title="Your Cart"><span class="wcmenucart-count"><span class="fa fa-shopping-cart"></span></span></a></li>
     <li class="search-toggle-li"><a href="#" class="search-header-replace-toggle site-search-toggle"><span class="fa fa-search"></span></a></li>

@tag.EndElement

@if (settings.UseNavSearch)
{
    using (Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "navbar-form navbar-right" }))
    {
    <div class="form-group">
        @Html.TextBox("q", searchText.Query, new { @class = "form-control", placeholder = "Search" })
    </div>
    }
}
